<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>조회 성공</title>
</head>
<body>
    <h1>게시글 검색 결과</h1>
    <table border="1" >
        <tr>
            <th>번호</th><th>제목</th><th>작성자</th><th>내용</th><th>조회수</th><th>작성날짜</th>
        </tr>

        <!-- th:each를 이용해 향상된 for문을 사용해 값을 반복하여 꺼내온다 -->
        <tr th:each="board : ${boardList}">
            <!-- th:text를 이용해 출력 값을 담아준다 -->
            <td th:text="${board.boardNo}"></td>
            <td th:text="${board.boardTitle}"></td>
            <td th:text="${board.userId}"></td>
            <td th:text="${board.boardContent}"></td>
            <td th:text="${board.boardReadCount}"></td>
            <td th:text="${board.boardDate}"></td>
        </tr>
        


    </table>
</body>
</html>