/* 다 만들고나서 삭제할 예정
div, main, header, footer, section, article, nav, aside, form
{border: 1px solid black;} */

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

main{
  width: 1440px;
}

.sAll{
  width: 1150px;


}


/* 1번째 줄 */

/* 대표사진 */
#firstLine{
  display: flex;
  width: 1150px;
  height: 450px;
  border: 1px solid black;
  margin: auto;
}


.name{
  border: 1px solid black;
  width: 450px;
  height: 82px
}
.firstPicture{
  border: 1px solid black;
  width: 450px;
  height: 316px;
}

.main-Picture{
  padding: 20px;
  width: 50%;
}


/* 요리영상 */
.video{
  width: 650px;
  padding: 20px;
  border: 1px solid black;
}

#video1{
  border: 1px solid black;
  display: flex;
  width: 610px;
  height: 82px;
}
#video2{
  display: flex;
  width: 610px;
  padding-top: 10px;
}

.thumbnail{
  border: 1px solid black;
  width: 330px;
  height: 290px;
}
.link{
  border: 1px solid black;
  width: 280px;
  height: 290px;
}



/* ----------------------------------- */

/* 2번째 줄 */


.cookName{
  display: flex;
  width: 1150px;
}

.cName{
  border: 1px solid black;
  height: 10rem;
  width: 210px;
}

.cNameBox{
  border: 1px solid black;
  height: 10rem;
  width: 945px;
}


/* ----------------------------------- */


/* 3번째 줄 */
.material{
  display: flex;
  width: 1150px;
}

.mName{
  border: 1px solid black;
  height: 10rem;
  width: 210px;
}

.mnameBox{
  border: 1px solid black;
  height: 10rem;
  width: 945px;
}


/* ----------------------------------- */

/* 4번째 줄 */
.cookProcess{
  display: flex;
  width: 1150px;
}

.cpName{
  border: 1px solid black;
  height: 10rem;
  width: 210px;
}

.cpnameBox{
  border: 1px solid black;
  height: 10rem;
  width: 945px;
}

/* ----------------------------------- */

/* 5섯번째 줄 */
.tip{
  display: flex;
  width: 1150px;
}

.tName{
  border: 1px solid black;
  height: 10rem;
  width: 210px;
}

.tnBox{
  border: 1px solid black;
  height: 10rem;
  width: 945px;
}

/* ----------------------------------- */

/* 6번째 줄 */
.cookInformation{
  display: flex;
  width: 1150px;
}

.ciName{
  border: 1px solid black;
  height: 10rem;
  width: 210px;
}

.cinBox{
  border: 1px solid black;
  height: 10rem;
  width: 945px;
}


/* ----------------------------------- */

/* 7번째 줄 */
.tag{
  display: flex;
  width: 1150px;
}

.tagName{
  border: 1px solid black;
  height: 10rem;
  width: 210px;
}

.tagnBox{
  border: 1px solid black;
  height: 10rem;
  width: 945px;
}

/* ----------------------------------- */

/* 8번째 줄 */
.endPicture{
  display: flex;
  width: 1150px;
}

.epName{
  border: 1px solid black;
  height: 10rem;
  width: 210px;
}

.epnBox{
  border: 1px solid black;
  height: 10rem;
  width: 945px;
}

/* ----------------------------------- */

/* 9번째 줄 */