tbody > tr > td:first-of-type{
  /* table에서만 사용 가능한 속성 */
  vertical-align: top;
  font-weight: bold;
}

tbody > tr > td:last-of-type > input{
  width: 200px;
  padding: 2px;
}
tbody > tr > td:last-of-type > span{
  font-size: 12px;
}

tfoot button{
  width: 100%;
  margin-top: 10px;
}


.check{ color: green; }
.error{ color: red; }
